    {% extends "homebase.html" %}
    {% load static %}
    {% load mptt_tags %}

    {% block title %}Frequently Asked Questions-{{setting.title}}{% endblock %}
    {% block keywords%}{{ setting.keywords }}{% endblock %}
    {% block description %} {{ setting.description }} {% endblock %}

    {% block head %}
        <link rel="shortcut icon" href="{{ setting.icon.url }}">
        <style>
            table tr th{
                text-align: center;
                padding: 20px 20px 20px 20px;
            }
            table tr td{
                text-align: center;
                padding:20px 10px 20px 0px;
            }
            table tr td img{
                width: 250px;
                height: 150px;
            }

        </style>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
  </script>
    {% endblock %}


    {% block content %}
        <!-- Page Title -->
        <div class="page-title bg-dark">
            <form action="/search/" method="POST" class="search">
                {% csrf_token %}
                <input type="text" id="query" name="query" placeholder="Search..">
            </form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 push-lg-4" >
                        <h1 class="mb-2" style="font-weight: bolder;color: lightgray">FAQ</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="container">
            <div class="section-main-2">
                    <div class="row">

                    <div id="accordion">

                     {% for foo in faq %}
                      <h3>{{ foo.question }}</h3>
                      <div>
                        <p>
                        {{ foo.answer }}
                        </p>
                      </div>
                    {% endfor %}
                    </div>


                    </div>
            </div>
            </div>
        </div>
        <script>
            $(function() {
                $("#query").autocomplete({
                    source: "/search_auto/",
                    select: function (event, ui) { //item selected
                        AutoCompleteSelectHandler(event, ui)
                    },
                    minLength: 2,
                });
            });
            function AutoCompleteSelectHandler(event, ui)
            {
                var selectedObj = ui.item;
            }
        </script>
    {% endblock %}

    {% block scripts %} {% include 'scripts.html' %} {% endblock %}


