 {% load static %}

    {% if page == 'aboutus' %}
        <br><br>
    {% endif %}
          <footer id="footer" class="bg-dark dark" style="clear: both">

                    <div class="container">
                        <!-- Footer 1st Row -->
                        <div class="footer-first-row row">
                            <div class="col-lg-3 text-center">
                                <a href="/"><img src="{% static 'assets/img/THSLogo.png' %}" alt="" style="height: 120px;width: 180px;max-width: 200px" class="mt-5 mb-5"></a>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <h5 class="text-muted">Special Offers</h5>
                                <ul class="list-posts">
                                    <li>
                                        <a href="/" class="title">Get free from orders higher that $40!</a>
                                        <span class="date">February 14, 2020</span>
                                    </li>
                                    <li>
                                        <a href="/" class="title">Get free from orders higher that $40!</a>
                                        <span class="date">February 14, 2020</span>
                                    </li>
                                    <li>
                                        <a href="/" class="title">Get free from orders higher that $40!</a>
                                        <span class="date">February 14, 2020</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <h5 class="text-muted">Have a nice meals!</h5>
                                <!-- MailChimp Form -->
                                <form action="//suelo.us12.list-manage.com/subscribe/post-json?u=ed47dbfe167d906f2bc46a01b&amp;id=24ac8a22ad" id="sign-up-form" class="sign-up-form validate-form mb-3" method="POST">
                                    <div class="input-group">
                                        <input name="EMAIL" id="mce-EMAIL" type="email" class="form-control" placeholder="Tap your e-mail..." required>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary btn-submit" type="submit">
                                                <span class="description">Subscribe</span>
                                                <span class="success">
                                                    <svg x="0px" y="0px" viewBox="0 0 32 32"><path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/></svg>
                                                </span>
                                                <span class="error">Try again...</span>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                                <h5 class="text-muted mb-3">Social Media</h5>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
                                <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- Footer 2nd Row -->
                        <div class="footer-second-row">
                            <span class="text-muted">Copyright The House Steak 2020©. Made with love by Enesfk.</span>
                        </div>
                    </div>

                    <!-- Back To Top -->
                    <a href="#" id="back-to-top"><i class="ti ti-angle-up"></i></a>

                </footer>