{% load static %}
<!-- JS Plugins -->
<script src=" {% static 'assets/plugins/tether/dist/js/tether.min.js' %}"></script>
<script src=" {% static 'assets/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src=" {% static 'assets/plugins/slick-carousel/slick/slick.min.js' %}"></script>
<script src=" {% static 'assets/plugins/jquery.appear/jquery.appear.js' %}"></script>
<script src=" {% static 'assets/plugins/jquery.scrollto/jquery.scrollTo.min.js' %}"></script>
<script src=" {% static 'assets/plugins/jquery.localscroll/jquery.localScroll.min.js' %}"></script>
<script src=" {% static 'assets/plugins/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src=" {% static 'assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js' %}"></script>
<script src=" {% static 'assets/plugins/twitter-fetcher/js/twitterFetcher_min.js' %}"></script>
<script src=" {% static 'assets/plugins/skrollr/dist/skrollr.min.js' %}"></script>
<script src=" {% static 'assets/plugins/animsition/dist/js/animsition.min.js' %}"></script>

<!-- JS Core -->
<script src=" {% static 'assets/js/core.js' %}"></script>
