/* ---------------------------------------------------------------------------- */
/* --- 5. FOOTER
/* ----------------------------------------------------------------------------- */

#footer {  
    @media #{$screen-xs} {
        padding-bottom: 2rem;
    } 

    .footer-first-row {
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;

        @media #{$screen-xl} {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }

    .footer-second-row {
        border-top: 1px solid $color-line-light;
        font-size: 0.9em;
        padding-top: 3rem;
        padding-bottom: 3rem;

        @media #{$screen-xl} {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}

/* Back to top */

#back-to-top {
    position: absolute;
    bottom: 18px;
    right: 18px;
    @include border-radius(50%);
    color: #fff;
    width: 36px;
    height: 36px;
    background: tint($color-dark,10%);
    font-size: 14px;
    @include transition-primary;
    z-index: 650;
    visibility: hidden;
    @include opacity(0);

    &:hover {
        @include translateY(-3px);
    }

    &.visible {
        visibility: visible;
        @include opacity(1);
    }

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate3d(-50%,-50%,0);
    }

    @media #{$screen-sm} {
        bottom: 20px;
        right: 20px;
    }
}

/* Nav Footer */

.nav-footer {
    list-style: none;
    margin: 0 0 1.5rem;
    padding: 0;
    display: inline-block;

    > li {
        display: block;
        margin-bottom: 0.2em;

        > a {
            font-weight: 500;
            font-size: 0.95rem;
            font-family: $font-secondary;
            color: $color-muted;

            &:hover, &:focus {
                color: $color-primary;
            }
        }

        &.active {
            > a {
                @include opacity(1);
            }
        }
    }
}