/* ----------------------------------------------------------------------------- */
/* --- 1. SETUP
/* ----------------------------------------------------------------------------- */

html {
	font-size: 14px;

	@media #{$screen-xs} {
		font-size: 13px;
	}
}

body { 
	position: relative;
	color: $color-global;
	font-family: $font-primary;
	font-weight: 400;
	line-height: 1.6;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    margin: 0 30px 30px;

    @media #{$screen-lg} {
        margin: 0 15px 15px;
    }

    @media #{$screen-xs} {
        margin: 0;
    }
}

button, input {
    font-family: inherit;
}

a {
	color: inherit;
	@include transition(all 0.2s ease-in-out);
}

a:hover, a:focus { text-decoration: none; color: $color-primary; }

textarea:focus, input:focus, a:focus, a:visited, *:focus { outline: none; }

iframe { border: none; }

img { max-width: 100%; height: auto; -webkit-backface-visibility: hidden;}

#body-wrapper {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000,0.5);
        content: ' ';
        z-index: 899;
        @include transition-primary();
        visibility: hidden;
        @include opacity(0);
    }
}

.dropdown-visible {
    #body-wrapper:before {
        @include opacity(1);
        visibility: visible;
    }
}

.container, .container-fluid {
}

.container {
    > .main, >.sidebar {
        &.left {
            float: left;

            @media #{$screen-sm} {
                float: none;
            }
        }
        &.right {
            float: right;

            @media #{$screen-sm} {
                float: none;
            }
        }
    }

    > .main {
        width: 70%;

        @media #{$screen-sm} {
            width: 100%;
            margin-bottom: 3rem;
        }
    }
    > .sidebar {
        width: 24%;

        @media #{$screen-sm} {
            width: 100%;
        }
    }
}

.container-md {
    width: 860px;

    @media #{$screen-sm} {
        width: 730px;
    }
    @media #{$screen-xs} {
        width: auto;
    }
}


::selection {
    background: $color-primary;
    color: #fff;
}
*::-moz-selection {
    background: $color-primary;
    color: #fff;
}