/* 6.8 Loaders
----------------------------------------------------------*/

.animsition-loading {
    border-width: 2px;
    border-style: solid;
    border-left-color: $color-global;
    border-right-color: $color-line;
    border-top-color: $color-line;
    border-bottom-color: $color-line;
    @include border-radius(50%);
    @include animation(loaderAnimation 1s linear infinite);
}

@include keyframes(loaderAnimation) {
    0% { @include rotateZ(0deg); }
    100% { @include rotateZ(360deg); }
}
